<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <title>Document</title>
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:5000">USERS</a>
            <a class="navbar-brand" href="http://localhost:5000/posts">ALL POSTS</a>
            <a href="http://localhost:5000/posts/addPost" class="btn btn-outline-danger" type="submit">New Post</a>
          </div>
        </div>
      </nav>
      <section class="w-100 container-fluid p-5 d-flex flex-column gap-5">
        <div class="w-100 d-flex gap-4">
            <img src=<%= "http://localhost:5000/" + findUser.image  %> height="320px" width="350px" class="border-danger border border-3 rounded-circle" alt="">
           <div class="d-flex flex-column w-25">
            <h1 class="mt-5"><%= findUser.username%></h1>
            <button class="btn btn-danger w-25" id="deleteBtn">Delete</button>
           </div>
        </div>
        <div class="mt-5">
            <h2 class="text-center">POSTS</h2>
                <div class="d-flex flex-column w-100 py-4 gap-3">
                    <%findPosts.forEach(p=> { %>
                        <div data=<%= p.id%> class="d-flex border border-2">
                            <img src=<%= "http://localhost:5000/" + p.image  %> height="400px" width="450px" class="border-danger border border-3"  alt="">
                            <div class="d-flex flex-column p-4 w-50">
                                <h3><%= p.title%></h3>
                            <p>
                                <%= p.text%>
                            </p>
                            </div>
                            <div id="btns" class="w-25 d-flex flex-column justify-content-evenly align-items-end px-3">
                                <a class="btn btn-secondary w-25" id="editPost" href=<%= "http://localhost:5000/posts/editPost/" + p.id %> >Edit</a>
                                <btn class="btn btn-danger w-25" id="deletePost">Delete</btn>
                            </div>
                        </div>
                    <%})%>
                </div>
        </div>
      </section>
</body>
<script>
    const cookie = document.cookie.split("=")[0]
      if (cookie !== "token") {
        window.location.replace("http://localhost:5000/auth/login")
      }
    const id = window.location.href.split("/")[4]
    const btn = document.querySelector("#deleteBtn")
    async function deleteProfile(e)  {
        e.preventDefault()
            const response = await fetch(`http://localhost:5000/profile/remove/${id}`, {
                method: "DELETE"
            })
            const data = await response.json()
            console.log(data);
            window.location.replace("http://localhost:5000/auth/login")
        }
    btn.addEventListener("click", deleteProfile)
    
    const deletePost = document.querySelector("#deletePost")
        async function deletPost(e) {
            e.preventDefault()
            const post = e.target.parentElement.parentElement
            let postID = post.getAttribute("data");
            const data = await fetch(`http://localhost:5000/posts/deletePost/${postID}`, {
                method: "DELETE"
            })
            window.location.reload()
        }

    deletePost.addEventListener("click", deletPost)
</script>
</html>